.RData
.Rproj.user

\.RDataTmp

\.Rhistory
all years quote.csv

Monopolies_Exploration_files/figure-html/Thumbs\.db

Lookup/Thumbs\.db

Data/annual_summary\.csv

Competition_Termination_files/figure-html/Thumbs\.db

Data/defense_naics_vendor\.csv

Data/defense_vendor\.csv

Data/Defense_Vendor\.SP_EntityIDhistoryNAICS\.txt

Data/Vendor\.SP_DunsnumberNewEntrants2\.txt

Thumbs\.db

Data/Vendor\.SP_DunsnumberNewEntrants_all\.txt

Data/Vendor\.SP_DunsnumberNewEntrants\.txt

Data/def_sample1m\.dat

Data/def_sample1m_code\.do

Data/def_sample250k\.dat

Data/def_sample250k_code\.do

New Entrants/Data/Cleaning Data/FPDS/Vendor\.SP_DunsnumberNewEntrants_all_RAW\.txt

New Entrants/Data/Raw Data/FPDS/Vendor\.SP_DunsnumberNewEntrants_all\.txt

Data/Contract\.SP_ContractBucketPlatformCustomer2017\.txt

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer2017\.txt

Data/defense_contract_all\.csv

Output/Terminated\.csv

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer\.txt

Data/Contract\.SP_ContractCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractLocationCustomer\.txt

Data/Contract\.SP_ContractUnmodifiedCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractPricingCustomer\.txt

Data/Contract\.SP_ContractBucketPlatformCustomer\.txt

Data/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

Output/~\$fr_Model\.html

Output/~\$rm_Model\.html

Output/defense_vendor\.csv

New Entrants/Data/Raw Data/FPDS/Vendor\.SP_DunsnumberNewEntrants_defense\.txt

Data/Defense_Vendor\.SP_EntityIDhistoryPlatform\.txt

Data/Vendor\.SP_EntityIDhistoryPlatform\.txt

Data/Vendor\.SP_EntityIDhistoryNAICSisService\.txt

Data/Clean/def_sample1m\.dat

Data/Clean/def_sample1m_code\.do

Data/Clean/def_sample250k\.dat

Data/Clean/def_sample250k_code\.do

Data/Clean/defense_contract_all\.csv

Data/semi_clean/annual_summary\.csv

Data/semi_clean/defense_naics_vendor\.csv

Data/semi_clean/defense_vendor\.csv

Data/semi_clean/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer\.txt

Data/semi_clean/Defense_Vendor\.SP_EntityIDhistoryNAICS\.txt

Data/semi_clean/Contract_SP_ContractSampleCriteriaDetailsCustomer\.txt

Data/semi_clean/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

data/semi_clean/Defense_Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

data/semi_clean/Vendor\.SP_DunsnumberNewEntrants2\.txt

data/semi_clean/Vendor\.SP_DunsnumberNewEntrants_all\.txt

data/semi_clean/Vendor\.SP_EntityIDhistoryNAICSisService\.txt

data/semi_clean/Vendor\.SP_EntityIDhistoryPlatform\.txt

data/semi_clean/Contract\.SP_ContractLocationCustomer\.txt

data/semi_clean/Contract\.SP_ContractBucketPlatformCustomer2017\.txt

data/semi_clean/Contract\.SP_ContractBucketPlatformCustomer\.txt

data/semi_clean/Contract\.SP_ContractUnmodifiedCompetitionVehicleCustomer\.txt

data/semi_clean/Contract\.SP_ContractCompetitionVehicleCustomer\.txt

data/semi_clean/Contract\.SP_ContractPricingCustomer\.txt

\.RDataTmp1

data/semi_clean/Contract\.SP_ContractTopPSCofficeNAICS\.txt

data/semi_clean/Contract\.SP_ContractUnmodifiedScope\.txt

data/semi_clean/Contract\.SP_ContractModificationDeltaCustomer\.txt

data/semi_clean/Contract\.SP_ContractPricingUCA\.txt

data/semi_clean/Contract\.sp_ContractExercisedOptions\.txt

data/semi_clean/Contract\.SP_ContractCeilingBreachCustomer\.txt

data/clean/def_breach_code\.do

data/clean/def_breach\.dat

Data/semi_clean/Defense_Vendor.SP_EntityIDhistoryCalendar.txt

data/semi_clean/Vendor.SP_DunsnumberNewEntrants.txt

data/semi_clean/Vendor_SP_EntityIDhistory.txt

data/semi_clean/Vendor.SP_EntityIDhistory.txt

data/semi_clean/Location.SP_CountryHistoryBucketSubCustomer.txt

data/semi_clean/Defense_Vendor.SP_EntityIDhistoryPlatform.txt

data/semi_clean/Contract.SP_ContractPricingUC2A.txt

data/semi_clean/Defense_Contract.SP_ContractUnmodifiedScope.txt

Output/~$CRaiOutput.xlsx

Output/~$Term_Plot.xlsx

Data/semi_clean/Contract.SP_UnmodifiedScopeHistory.txt

analysis/cbre_weird.csv

Data/semi_clean/Defense_Contract.SP_UnmodifiedScopeHistory.txt

Data/semi_clean/Contract_SP_ContractPricingUCA.txt

Data/semi_clean/Defense_Vendor_SP_EntityIDhistoryPlatform.txt

Data/semi_clean/Contract_SP_ContractPricingCustomer.txt

Data/semi_clean/Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomer.txt

Data/semi_clean/Vendor.EntitySizeHistoryBucketPlatformSubCustomer.txt

Data/semi_clean/Economic.SP_NASbioeconomy_temp.txt

Data/semi_clean/Vendor.EntityIDhistory.txt

Data/semi_clean/Economic.SP_NASbioeconomy.txt

data/semi_clean/Economic.SP_NASbioeconomy_backup.txt

Data/semi_clean/Vendor.EntityIDhistory_update.txt

Data/semi_clean/Vendor.EntityIDhistory_update2.txt

Output/new_entrant_all_years.csv

Data/semi_clean/Defense_ProdservPricingVehicle.txt

data/semi_clean/Federal_Summary.ProductOrServiceCodeAgency

data/semi_clean/Federal_Summary.ProductOrServiceCodePlatformAgency

data/semi_clean/Federal_Summary.ProductOrServiceCodeAgency.txt

data/semi_clean/Federal_Summary.ProductOrServiceCodePlatformAgency.txt

Data/semi_clean/Federal_ProdservPlatform.txt

Data/semi_clean/Federal_ProdservPlatformVehicle.txt

data/semi_clean/EC_ICT_ProdservAgency.txt

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomer.txt

Data/semi_clean/Defense_Vendor.SP_EntityIDhistory.txt

Data/semi_clean/Defense_Vendor_sp_EntityCountHistoryPlatformCustomerUpdate.rpt

Data/semi_clean/Vendor_sp_EntityCountHistoryCustomerDunsnumber.txt

Data/semi_clean/Defense_budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMS.txt

Data/semi_clean/Defense_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerInternational.txt

Data/semi_clean/Federal_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.txt

Data/semi_clean/Federal_Location.SP_ProdServPlatformAgencyPlaceOriginVendorFMS.txt

Data/semi_clean/Summary.SP_SoftwareDetail.txt

Data/semi_clean/~$ProductOrServiceCodeAgency.xlsx

Data/semi_clean/Summary.SP_SoftwareDetailCodes.txt

Data_Raw/~$OTA_All_FIelds.xlsx

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMS

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMS.txt

Data/semi_clean/Contract.SP_Automated_IDV_investigation.txt

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerpcau.txt

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerComp.txt

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMS2021.txt

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMS2021insert

Data/semi_clean/Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomer2021

Data/semi_clean/Defense_Summary.SP_C2detail.txt

Data/semi_clean/Defense_Summary.SP_SoftwareC2detail.txt

Output/~$DoD_Acq_Trends_Contracts.xlsx

Output/~$DoD_Acq_Trends_OTA.xlsx

Data/Semi_Clean/Federal_Budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMS.txt

Data/Semi_Clean/Defense_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomer.txt

Data/Semi_Clean/Defense_Contract.SP_ContractCompetitionvehicleCustomer.txt

Data/Semi_Clean/Defense_Contract.SP_ContractUnmodifiedCompetitionvehicleCustomer.txt

Data/Semi_Clean/Defense_Contract.SP_ContractUnmodifiedCompetitionvehicleCustomer2

Data/Semi_Clean/Federal_Budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerInternational.txt

Data/Semi_Clean/Federal_Location.SP_ProdServPlatformAgencyPlaceOriginVendor2.txt

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerInternational.txt

Data/Semi_Clean/Defense_Contract.SP_ContractDefenseSubCustomer.txt

Data/Semi_Clean/Summary.SP_ContractDatesSubCustomerPlatform.txt

Data_Raw/FPDS_Reports/~$Defense Pricing Mechanism.xlsx

Data/Clean/defense_naics_vendor.csv

Data/Semi_Clean/Defense_Vendor.SP_EntityIDhistoryPlatform_FPDSpartial

Data/Semi_Clean/Vendor.SP_TopVendorHistoryPlatformUAVisDefense.txt

Data/Semi_Clean/Vendor.SP_TopVendorUAVHistoryPlatformCustomer.txt

Data/Semi_Clean/DescriptionOfContractRequirement_Portfolio.csv

Data_Raw/FPDS_descrip_plat_row_number.csv

Data/semi_clean/defense_budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMSstart

Data/Semi_Clean/defense_budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.csv

Data/Semi_Clean/defense_budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength2

Data/Semi_Clean/defense.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Data/semi_clean/defense_budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Data/semi_clean/defense_summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Data/semi_clean/Vendor.SP_TopVendorHistoryPlatformUAVsubCustomer.txt

Data/semi_clean/Federal_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.csv

Output/Munitions/ArmyOtherProducts.csv

Output/Munitions/OM.csv

analysis/DLA.csv

Data/Clean/def_ukr_FPDS.Rda

Data/semi_clean/Vendor.RecipientUEIhistoryTopDunsnumber.txt

Data/semi_clean/Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Output/AcqTrends/~$DoD_Acq_Trends_Contracts.xlsx

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.zip

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/OSC/FAADCloanDataSet.rda

Data/Clean/defense_contract_complete_detail_backup.Rdata

Data/semi_clean/Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Output/AcqTrends/~$DoD_Acq_Trends_Contracts.xlsx

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.zip

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/OSC/FAADCloanDataSet.rda

Data/Clean/defense_contract_complete_detail_backup.Rdata

Data/semi_clean/Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Output/AcqTrends/~$DoD_Acq_Trends_Contracts.xlsx

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.zip

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/OSC/FAADCloanDataSet.rda

Data/Clean/defense_contract_complete_detail_backup.Rdata

Data/semi_clean/Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength

Data/semi_clean/Federal_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength.txt

Output/AcqTrends/~$DoD_Acq_Trends_Contracts.xlsx

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyCongressionalDistrict.csv

Data/semi_clean/OSC/FAADCloanDataSet.rda

Data/Clean/defense_contract_complete_detail_backup.Rdata

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.txt

Data/semi_clean/Navy_ShipsSubmarines_Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerLength

Output/Munitions/~$Weapons_Systems_in_Ukr_Supp.xlsx

Output/AcqTrends/DoD_Acq_Trends_Contracts NV Copy.xlsx

Data/semi_clean/Federal_Budget.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomerFMShealthcare

Output/AcqTrends/Platform/Ordnance_and_Missiles/~$DoD_Ordnance_and_Missiles_Contracts.xlsx

Data_Raw/Assistance/~$Small Business Investment Company (SBIC) Program Overview Report for the Fiscal Year Ending September 30 2023.xlsx

Data_Raw/Assistance/foia-7afy2000-fy2009-asof-230930.csv

Data_Raw/Assistance/foia-7afy1991-fy1999-asof-230930.csv

Data_Raw/Assistance/foia-7afy2010-fy2019-asof-230930.csv

data_raw/Assistance/~$sbg-foia-data-dictionary.xlsx

Output/OSC/~$selected_assistance_critical_tech.xlsx

Output/OSC/DFC/~$DFC_Assistance.xlsx

Data/semi_clean/Assistance/FAADCloanDataSet.rda

Data_Raw/Assistance/SBA/foia-7afy1991-fy1999-asof-230930.csv

Data_Raw/Assistance/SBA/foia-7afy2000-fy2009-asof-230930.csv

Data_Raw/Assistance/SBA/foia-7afy2010-fy2019-asof-230930.csv

Output/Assistance/~$selected_assistance_critical_tech.xlsx

Data/semi_clean/Economic.NAICSprodservNonTraditionalHistory.csv

Data/semi_clean/Defense_Location.SP_ProdServPlatformAgencyCongressionalDistrict.txt

Data/semi_clean/Defense_Economic.SP_NAICSprodservNonTraditionalHistory.txt

Data/semi_clean/Vendor.RecipientUEIpartial.txt

Data/semi_clean/Vendor.Parent_UEIhistory.txt

Data_Raw/~$hist03z2_fy2025.xlsx

Data/semi_clean/~$Contract.DefenseCostAccountingStandardCrosscheck.xlsx

Output/Space/~$Launch PSC UEI.xlsx

Output/shippscintldef.csv

Output/shippscintldef_labeledprocessed.csv

Data/semi_clean/~$Contract.DefenseCostAccountingStandardCrosscheck.xlsx

Data/semi_clean/Vendor.SP_DunsnumberNewEntrants.zip

Output/PBL_full.xlsx

Data/semi_clean/Contract.SP_PBLfpdsPartial.txt

Data/semi_clean/Contract.SP_PBLfpdsPartial.xlsx

Output/PBL_full_05_08.xlsx

Output/~$PBL_select_columns.xlsx

Output/PBL_full.zip

Output/def_data.csv

Output/simple_def_data.csv

Output/defense_platform_vendor.csv

Data/semi_clean/Defense_ProductOrServiceCode_ShipsAndSubmarines.txt

Data/semi_clean/Defense_ProductOrServiceCode_SP_OrdnanceMissilesAirAndMissileDefense.txt

Data/semi_clean/Defense_ProductOrServiceCode_SP_OrdnanceMissilesAirAndMissileDefenseDetail.txt

Data/semi_clean/Defense_ProductOrServiceCode_SP_ShipsAndSubmarinesDetail.txt

Data/Clean/Defense_Munition_FPDS.txt

Output/maritimedef.csv

Data/Clean/Defense_Maritime_FPDS.txt

Data/Clean/Defense_Ship_FPDS.txt

Output/simple_fed_data.csv

Data/Clean/simple_fed_data.csv

Data/Clean/simple_def_data.csv

Data/Clean/def_data.csv

Data/Clean/fed_data.csv

Data/semi_clean/Vendor.RecipientUEIhistoryPresent.txt

Data/semi_clean/RecipientUEIhistoryPresent.txt

Data/semi_clean/RecipientUEIhistory.txt
