.RData
.Rproj.user

\.RDataTmp

\.Rhistory
all years quote.csv

Monopolies_Exploration_files/figure-html/Thumbs\.db

Lookup/Thumbs\.db

Data/annual_summary\.csv

Competition_Termination_files/figure-html/Thumbs\.db

Data/defense_naics_vendor\.csv

Data/defense_vendor\.csv

Data/Defense_Vendor\.SP_EntityIDhistoryNAICS\.txt

Data/Vendor\.SP_DunsnumberNewEntrants2\.txt

Thumbs\.db

Data/Vendor\.SP_DunsnumberNewEntrants_all\.txt

Data/Vendor\.SP_DunsnumberNewEntrants\.txt

Data/def_sample1m\.dat

Data/def_sample1m_code\.do

Data/def_sample250k\.dat

Data/def_sample250k_code\.do

New Entrants/Data/Cleaning Data/FPDS/Vendor\.SP_DunsnumberNewEntrants_all_RAW\.txt

New Entrants/Data/Raw Data/FPDS/Vendor\.SP_DunsnumberNewEntrants_all\.txt

Data/Contract\.SP_ContractBucketPlatformCustomer2017\.txt

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer2017\.txt

Data/defense_contract_all\.csv

Output/Terminated\.csv

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer\.txt

Data/Contract\.SP_ContractCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractLocationCustomer\.txt

Data/Contract\.SP_ContractUnmodifiedCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractPricingCustomer\.txt

Data/Contract\.SP_ContractBucketPlatformCustomer\.txt

Data/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

Output/~\$fr_Model\.html

Output/~\$rm_Model\.html

Output/defense_vendor\.csv

New Entrants/Data/Raw Data/FPDS/Vendor\.SP_DunsnumberNewEntrants_defense\.txt
