USE [DIIG]
GO
/****** Object:  StoredProcedure [Vendor].[SP_EntityIDhistoryAgency]    Script Date: 10/25/2017 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Vendor].[SP_EntityIDhistoryAgency]
AS 
BEGIN
	SELECT C.[fiscal_year]
		  ,C.[parentid]
		  ,C.[contractingofficeagencyid]
		  ,C.[Customer]
		  ,C.[SubCustomer]
		  ,C.[DepartmentID]
		  ,SUM(C.ObligatedAmount) AS [SumObligatedAmount]
		  ,SUM(C.NumberOfActions) AS [SumNumberOfActions]
		  ,Count(C.[fiscal_year]) AS [FreqCount]

	  FROM [Vendor].[EntityIDhistoryAgency] as C
	  GROUP BY C.[fiscal_year]
			  ,C.[parentid]
			  ,C.contractingofficeagencyid
			  ,C.Customer
			  ,C.SubCustomer
			  ,C.DepartmentID

-- end of query
END